<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>Game Analytics</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles/base.css" />
	<!-- Scripts -->
	<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery.flot.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery.flot.pie.min.js"></script>
</head>
<body>
	<div id="header">
		<img src="{{ MEDIA_URL }}images/logo.png" />
	</div>
	<div id="navigation">
		Current Quest:
		<select>
			<option>Test1</option>
			<option>Test2</option>
		</select>
	</div>
	<div id="sidebar">
		<div class="sidebar_item selected">
			<a href="/quests/">
				<div class="quests">Quests</div>
			</a>
		</div>
		<div class="sidebar_item">
			<a href="/players/">
				<div class="players">Players</div>
			</a>
		</div>
	</div>
	<div id="content">
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
		<div>Testing testing</div>
	</div>
</body>
</html>